:root {
    --grid-size: 600px;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 32px;
    background-color: darkred;
}

button {
    width: 120px;
    padding: 16px;
    flex: 0 1 auto;;
}

.grid {
    width: var(--grid-size);
    height: var(--grid-size);
    display: flex;
    flex-direction: column;
    border: 10px inset darkred;
    background-color: rgb(200, 199, 199);
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    flex-wrap: wrap;
}

.bg-hover {
    background-color:black;
}
